body{
  background-color: #F3F3F5;
}
.Midt{
  text-align: center;
  color: #3F3F3F;
  padding: 5% 10%;
}
h1{
  font-family: helvetica;
  font-weight: bold;
  font-size: xx-large;
}
#underH3{
  font-style: normal;
  padding: 2% 10%;
}
#links{
  font-size: x-large;
}
