Package: com.paadyhr.whitebootlogo
Name: White BootLogo
Version: 1.2
Architecture: iphoneos-arm
Description: White Bootlogo
Homepage: p.9.buhm.in
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Auther: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: winterboard
