Package: com.paadyhr.peterstema
Name: PetersTema
Version: 0.1.6
Architecture: iphoneos-arm
Description: Peters Tema
Homepage: http://p.9.buhm.in
Depiction: http://p.9.buhm.in/depictions/PetersTema/index.html
Maintainer: Peter András Adorján Dyhr <paadyhr@gmail.com>
Author: Peter András Adorján Dyhr <paadyhr@gmail.com>
Section: Themes
Depends: winterboard
